<div id="settings">
    <button id="settings-toggle" type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#settings-modal" title="{{ 'Settings'|trans }}">
        {{ icon('gear') }}
    </button>

    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settings-modal-label">{{ 'Settings'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {# { icon('language') } #}
                    {{ 'Language'|trans }}

                    {% set current_locale = app.request.attributes.get('_route_params')['_locale']|default('en') %}

                    <div class="btn-group" role="group" aria-label="Language">
                    {% for name, locale in {
                        Dansk: 'da',
                        English: 'en'
                        } %}
                        <a class="btn {{ locale == current_locale ? 'btn-primary' : 'btn-secondary' }}" href="{{ current_path({_locale: locale}) }}">{{ name }} ({{ locale }})</a>
                    {% endfor %}
                    </div>
                </div>
                {#
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'Apply settings'|trans }}</button>
                </div>
                #}
            </div>
        </div>
    </div>
</div>
