<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ 'Shopping'|trans }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
		{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
		{% block container %}
			<div class="container-fluid">
				{% block flashes %}
                    <div class="app-flashes">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <div class="message">{{ message }}</div>

                                        {% set actions = app.flashActions(type, message)|default([]) %}
                                        {% for action in actions %}
                                            <div class="app-flash-action">
                                                {% if action.route|default(false) %}
                                                    <form method="{{ action.route.method|default('POST') == 'GET' ? 'get' : 'post' }}" action="{{ path(action.route.name, action.route.parameters|default({})) }}">
                                                        {% if action.route.method|default(false) %}
                                                            <input type="hidden" name="_method" value="{{ action.route.method }}">
                                                        {% endif %}
                                                        {% if action.route._token|default(false) %}
                                                            <input type="hidden" name="_token" value="{{ csrf_token(action.route._token) }}">
                                                        {% endif %}
                                                        {# <input type="hidden" name="_undo" value="{{ true }}"> #}
                                                        <button class="btn btn-secondary btn-sm">{{ action.message }}</button>
                                                    </form>
                                                {% elseif action.url|default(false) %}
                                                    <a class="btn btn-secondary btn-sm" href="{{ action.url }}">{{ action.message }}</button></a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endblock %}
                {% block settings %}
                    {% include '_settings.html.twig' %}
                {% endblock %}
                {% block body %}{% endblock %}
			</div>
		{% endblock %}
		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
		{% endblock %}
    </body>
</html>
