{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if cancel_url|default(false) %}
        <a href="{{ cancel_url }}">{{ cancel_label|default('Cancel'|trans) }}</a>
    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
