{% extends 'base.html.twig' %}

{% block title 'Stores' %}

{% block body %}
    <h1>{{ 'Stores'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Locations'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.name }}</td>
                <td>{{ store.description }}</td>
                <td>{{ store.locations|length }}</td>
                <td>
                    <a href="{{ path('store_edit', {id: store.id, account: account.id}) }}">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'No stores found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('store_new', {account: account.id}) }}">{{ 'Create new store'|trans }}</a>
{% endblock %}
