{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit shopping list'|trans }}{% endblock %}

{% block body %}
    {% import 'shopping_list/_helpers.html.twig' as helper %}
    <h1>
        {{ helper.account_home(account) }}
        {{ 'Edit shopping list'|trans }}
    </h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}

        <div class="buttons">
            <a class="btn btn-link" href="{{ path_from_referer('shopping_account', {account: account.id}) }}">{{ 'Cancel'|trans }}</a>
            <button class="btn btn-primary">{{ 'Update'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
