{% extends 'base.html.twig' %}

{% block title %}{{ 'Shopping list {name}'|trans({'name': list.name}) }}{% endblock %}

{% block head %}
    <link rel="manifest" href="{{ path('shopping_list_manifest', {id: list.id, v: app_version}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('list/items') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('list/items') }}

    <script>
        if ('serviceWorker' in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log('Active service worker found, no need to register')
            } else {
                //Register the ServiceWorker
                navigator.serviceWorker.register({{ path('shopping_list_serviceworker', {id: list.id, v: app_version})|json_encode|raw }}).then(function(reg) {
                    console.log('Service worker has been registered for scope:'+ reg.scope)
                })
            }
        }
    </script>
{% endblock %}

{% macro item_done(item) %}
    <form method="post" action="{{ path('shopping_list_item_done', app.request.query.all|merge({item: item.id})) }}" class="single-action">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_token" value="{{ csrf_token('item_done' ~ item.id) }}">
        <button class="btn btn-light">{{ icon('square') }}</button>
    </form>
{% endmacro %}

{% macro item_undone(item) %}
    <form method="post" action="{{ path('shopping_list_item_done', app.request.query.all|merge({item: item.id})) }}" class="single-action">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_token" value="{{ csrf_token('item_done_undo' ~ item.id) }}">
        <button class="btn btn-light">{{ icon('check-square') }}</button>
    </form>
{% endmacro %}

{% macro show_items(items) %}
    {% for item in items %}
        <div class="d-flex my-3 justify-content-between align-items-baseline">
            <div class="item-state">
                {% if item.doneAt %}
                    <span class="item-done">{{ _self.item_undone(item) }}</span>
                {% else %}
                    <span class="item-not-done">{{ _self.item_done(item) }}</span>
                {% endif %}
            </div>
            <div class="item-name">
                {% if item.description %}
                    <span data-toggle="tooltip" title="{{ item.description }}" data-trigger="click" data-placement="right">
                        {{ item.name }} <span class="fas fa-info-circle"></span>
                    </span>
                {% else %}
                    {{ item.name }}
                {% endif %}
                {% if item.quantity %}
                    <span class="item-quantity">({{ item.quantity }})</span>
                {% endif %}
                {% if item.doneAt %}<br/><small>{{ 'Item done on {done_at, date, full} at {done_at, time, short}'|trans({'done_at': item.doneAt}) }}</small>{% endif %}
            </div>
            <div class="px-2 ml-auto item-stores">
                {% if item.stores|length > 0 %}
                    {{ icon('store') }}
                    {% for store in item.stores %}
                        <a class="badge badge-light" href="{{ current_path({filter: {store: store.name}}) }}">{{ store.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="item-actions">
                <div class="dropdown">
                    <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ icon('ellipsis-v') }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path_with_referer('shopping_list_item_edit', {item: item.id}) }}">{{ 'Edit'|trans }}</a>
                        <a class="dropdown-item" href="{{ path_with_referer('shopping_list_item_log', {item: item.id}) }}">{{ 'Show log'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block container %}
    {% import 'shopping_list/_helpers.html.twig' as helper %}

    {% set current_display = app.request.get('display')|default('undone') %}

    <div class="shopping-list-items container-fluid">
        <header class="d-flex justify-content-between">
            <h1>
                {{ helper.account_home(account) }}
                {{ list.name }}
            </h1>

            <div class="d-flex">
                <div class="p-2">
                    {#% set items = items|sort((a, b) => b.updatedAt <=> a.updatedAt) %#}
                    <div id="order-by">
                        <button id="order-by-toggle" type="button" class="btn btn-link" data-toggle="modal" data-target="#order-by-modal" title="{{ 'Order-By'|trans }}">
                            <span class="fas fa-sort-amount-up-alt"></span>
                        </button>

                        <div class="modal fade" id="order-by-modal" tabindex="-1" role="dialog" aria-labelledby="order-by-modal-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="order-by-modal-label">{{ 'Order by'|trans }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-borderless">
                                        {% for label, property in {
                                            'Name':'name',
                                            'Updated at': 'updatedAt'
                                            } %}
                                            <tr>
                                                <th>{{ label }}</th>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        {% for direction in ['asc', 'desc'] %}
                                                            {% set current = app.request.query.all.order[property]|default(null) == direction %}
                                                            <a class="btn {{ current ? 'btn-success' : 'btn-light' }}" href="{{ current_path({'order': {(property): direction}}) }}">{{ direction }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    {% block settings %}
                        {% include '_settings.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </header>

        <article>
            {% include '_flashes.html.twig' %}
            {% if filter %}
                <div class="alert alert-info">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="message">
                            {{ 'Filter applied'|trans }}
                            ({%- for key, value in filter -%}
                            {%- if loop.index0 > 0 %}; {% endif -%}
                            {{ ('filter.' ~ key)|trans }}: {{ value|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}
                            {%- endfor -%})
                        </div>
                        <a href="{{ current_path({filter: null}) }}">{{ 'Clear filter'|trans }}</a>
                    </div>
                </div>
            {% endif %}

            {% if undone_items|length > 0 %}
                {{ _self.show_items(undone_items) }}
            {% else %}
                <div class="alert alert-success">
                    {{ 'Woohoo! No undone items.'|trans }}
                    {% if done_items|length > 0 %}
                        <a href="{{ current_path({display: 'all'}) }}">{{ 'Show all items'|trans }}</a>
                    {% endif %}
                </div>
            {% endif %}

            {% if done_items|length > 0 %}
                {% if current_display != 'all' %}
                    <a class="btn btn-light btn-block" href="{{ current_path({display: 'all'}) }}">
                        {{ '{count, plural, one {Show one done item.} other {Show # done items.}}'|trans({'count': done_items|length}) }}
                    </a>
                {% else %}
                    <a class="btn btn-light btn-block" href="{{ current_path({display: null}) }}">
                        {{ '{count, plural, one {Hide one done item.} other {Hide # done items.}}'|trans({'count': done_items|length}) }}
                    </a>
                {% endif %}
            {% endif %}

            {% if current_display == 'all' %}
                {% if done_items|length > 0 %}
                    {{ _self.show_items(done_items) }}
                {% endif %}
            {% endif %}
        </article>

        <footer>
            {{ form_start(add_item_form) }}
                <div class="input-group my-3">
                    {{ form_widget(add_item_form.name, {attr: {list: 'done-items-names'}}) }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" id="add-item">{{ 'Add item'|trans }}</button>
                    </div>
                </div>
                <datalist id="done-items-names">
                    {% for item in done_items|sort((a, b) => a.name <=> b.name) %}
                        <option value="{{ item.name }}"/>
                    {% endfor %}
                </datalist>
            {{ form_end(add_item_form) }}
        </footer>
    </div>
{% endblock %}
