{% extends 'base.html.twig' %}

{% block title %}{{ 'Shopping lists'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Shopping lists'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Items'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>{{ list.name }}</td>
                <td>{{ list.description }}</td>
                <td>{{ list.undoneItems|length }}/{{ list.items|length }}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('shopping_account_list_items', {account: account.id, list: list.id}) }}">{{ 'Show items'|trans }}</a>
                    <a class="btn btn-light" href="{{ path('shopping_account_list_share', {account: account.id, list: list.id}) }}">{{ 'Share'|trans }}</a>
                    <a class="btn btn-light" href="{{ path('shopping_account_list_edit', {account: account.id, list: list.id}) }}">{{ 'Edit'|trans }}</a>
                    <a class="btn btn-light" href="{{ path('shopping_account_list_add_items', {account: account.id, list: list.id}) }}">{{ 'Add items'|trans }}</a>
                    <a class="btn btn-light" href="{{ path('shopping_account_list_log', {account: account.id, list: list.id}) }}">{{ 'Show items log'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'No lists found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('shopping_account_list_new', {account: account.id}) }}">{{ 'Create shopping list'|trans }}</a>
{% endblock %}
