{% extends 'base.html.twig' %}

{% block title %}{{ 'Create shopping list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create shopping list'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="buttons">
            <a class="btn btn-link" href="{{ path_from_referer(account|default(false) ? path('shopping_account', {account: account.id}) : path('shopping_list_index')) }}">{{ 'Cancel'|trans }}</a>
            <button class="btn btn-primary">{{ 'Create shopping list'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
